

<div class="section custom-section">
<div class="home-blog-posts page-width section-padding">
   <div class="section-wrapper">
     <h3>{{ section.settings.description }}</h3>
   </div>

 <div class="product-list">
  {% assign frontpage_collection = collections['frontpage'] %}
  
  {% if frontpage_collection.products.size > 0 %}
    {% for product in frontpage_collection.products %}
      <h4>{{ product.title  }}</h4>
    {% endfor %}
  {% else %}
    <p>No products available in this collection.</p>
  {% endif %}
  <br>
  <h3> {{ all_products['no-rouge'].title | remove: 'No' | upcase  }} </h3>
  <h3> title before modified {{ all_products['square-hair-brush-32mm'].title  }}</h3>
    <h3>  {{  all_products['square-hair-brush-32mm'].title | replace: '32mm','40mm'  }} : {{ all_products['square-hair-brush-32mm'].price | money | replace: '$','Rs' }} </h3>
</div>



{%- paginate blog.articles by 6 -%}
  <div class="main-blog page-width section-{{ section.id }}-padding">
    {%- render 'breadcrumb' -%}
    <div class="main-blog-header">
      <h6 class="h5">tsr blog</h6>
      <h1 class="title--primary{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
        {{ blog.title | escape }}
      </h1>
    </div>
    <div class="blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
      {%- for article in blog.articles -%}
        <div
          class="blog-articles__article article{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          {%- render 'article-card',
            article: article,
            media_height: section.settings.image_height,
            media_aspect_ratio: article.image.aspect_ratio,
            show_image: section.settings.show_image,
            show_date: section.settings.show_date,
            show_author: section.settings.show_author,
            show_excerpt: true
          -%}
        </div>
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}


</div>
</div>

{% schema %}
{
  "name": "custom practice section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    
  ],
  "presets": [
    {
      "name": "custom practice section"
    }
  ]
}
{% endschema %}


