

<div class="section custom-section">
<div class="home-blog-posts page-width section-padding">
   <div class="section-wrapper">
     <h3>{{ section.settings.description }}</h3>
   </div>
<div class="product-list">
 <div class="product-list">
  {% assign frontpage_collection = collections['frontpage'] %}
  
  {% if frontpage_collection.products.size > 0 %}
    {% for product in frontpage_collection.products %}
      <h4>{{ product.title  }}</h4>
    {% endfor %}
  {% else %}
    <p>No products available in this collection.</p>
  {% endif %}
  <br>
  <h3> {{ all_products['no-rouge'].title | remove: 'No' | upcase  }} </h3>
  <h3> title before modified {{ all_products['square-hair-brush-32mm'].title  }}</h3>
    <h3>  {{  all_products['square-hair-brush-32mm'].title | remove: '2mm' , '40mm'  }} : {{ all_products['square-hair-brush-32mm'].price | money  }} </h3>
</div>

</div>

</div>
</div>

{% schema %}
{
  "name": "custom practice section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    
  ],
  "presets": [
    {
      "name": "custom practice section"
    }
  ]
}
{% endschema %}


