{{ 'section-multi-column.css' | asset_url | stylesheet_tag }}

<div class="section-multi-column">
  <div class="section-heading">
    <div class="heading-group">
       {% if section.settings.section_title != blank %}
        <h2 class="section-title">{{ section.settings.section_title }}</h2>
       {% endif %}
       {% if section.settings.button_text != blank %}
        <a href="{{ section.settings.button_link }}" class="button cta_button">{{ section.settings.button_text }}</a>
      {% endif %}
    </div>
     {% if section.settings.section_description != blank %}
    <div class="section-description">
      <p class="section-description">{{ section.settings.section_description }}</p>
       <p class="section-description1">{{ section.settings.section_description1 }}</p>
    </div>
     {% endif %}
      {% if section.settings.button_text != blank %}
        <a href="{{ section.settings.button_link }}" class="button cta_button desktop-hide">{{ section.settings.button_text }}</a>
      {% endif %}
  </div>
<div class="grid-container">

       {% assign title = page.metafields.makro.title %}
        {% assign descrition = page.metafields.makro.description %}
        {% assign page_image = page.metafields.makro.image %}
        {% assign title1 = page.metafields.makro.title1 %}
        {% assign descrition1 = page.metafields.makro.description1 %}
        {% assign page_image1 = page.metafields.accentuate.image1 %}
        {% assign title2 = page.metafields.makro.title2 %}
        {% assign descrition2 = page.metafields.makro.description2 %}
        {% assign page_image2 = page.metafields.makro.image2 %}
        {% assign title3 = page.metafields.accentuate.title3 %}
        {% assign descrition3 = page.metafields.makro.description3 %}
        {% assign page_image3 = page.metafields.makro.image3 %}
<div class="grid-item">   
 {% if page_image %}
  {% assign image_json = page_image | first | replace: '=>', ':' %}
  {% assign image_url = image_json | split: '"src":"' | last | split: '"' | first %}
  <img src="{{ image_url }}" alt="{{ page.title }}" />
{% endif %}
        <div class="grid-content">
          <h3 class="grid-title">{{ title }}</h3>
          <p class="grid-text">{{ descrition }}</p>
        </div>
</div>
<div class="grid-item">   
 {% if page_image1 %}
  {% assign image_json = page_image1 | first | replace: '=>', ':' %}
  {% assign image_url = image_json | split: '"src":"' | last | split: '"' | first %}
  <img src="{{ image_url }}" alt="{{ page.title1 }}" />
{% endif %}
        <div class="grid-content">
          <h3 class="grid-title">{{ title1 }}</h3>
          <p class="grid-text">{{ descrition1 }}</p>
        </div>
</div>
  <div class="grid-item">   
 {% if page_image2 %}
  {% assign image_json = page_image2 | first | replace: '=>', ':' %}
  {% assign image_url = image_json | split: '"src":"' | last | split: '"' | first %}
  <img src="{{ image_url }}" alt="{{ page.title2 }}" />
{% endif %}
        <div class="grid-content">
          <h3 class="grid-title">{{ title2 }}</h3>
          <p class="grid-text">{{ descrition2 }}</p>
        </div>
</div>
   <div class="grid-item">   
 {% if page_image3 %}
  {% assign image_json = page_image3 | first | replace: '=>', ':' %}
  {% assign image_url = image_json | split: '"src":"' | last | split: '"' | first %}
  <img src="{{ image_url }}" alt="{{ page.title3 }}" />
{% endif %}
        <div class="grid-content">
          <h3 class="grid-title">{{ title3 }}</h3>
          <p class="grid-text">{{ descrition3 }}</p>
        </div>
</div>
  <div class="seperate-section">
     {%- assign metaobject =  page.metafields.custom.custom_object.value | json_parse -%}
    {% if metaobject %}
  <div class="metaobject-details">
    <h1>{{ metaobject.title }}</h1> <!-- Title field -->
    <p>{{ metaobject.description }}</p> <!-- Description field -->
  </div>
{% else %}
  <p>No metaobject data available.</p>
{% endif %}
  </div>
  <div class="seperate-section-new">
     {%- assign custommultielement =  page.metafields.custom.custom_multi_element.value | json_parse -%}
    {% if custommultielement %}
  <div class="metaobject-details">
        <h1>{{ custommultielement.elementtitle }}</h1> <!-- Title field -->
    <p>{{ custommultielement.elementdescription }}</p> <!-- Description field -->
     <p>{{ custommultielement.elementtag }}</p> <!-- Description field -->
  </div>
{% else %}
  <p>No metaobject data available.</p>
{% endif %}
  </div>
{% schema %}
{
  "name": "Custom Multicolumn",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Craftsmanship Meets Sustainability"
    },
    {
      "type": "textarea",
      "id": "section_description",
      "label": "Section Description",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia."
    },
      {
      "type": "textarea",
      "id": "section_description1",
      "label": "Section Description",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Experience American-Made Quality"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "blocks": [
    {
      "type": "grid_item",
      "name": "Grid Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "image_alt",
          "label": "Image Alt Text",
          "default": "Craftsmanship Detail"
        },
        {
          "type": "text",
          "id": "grid_title",
          "label": "Grid Title",
          "default": "Craftsmanship Detail #1"
        },
        {
          "type": "textarea",
          "id": "grid_text",
          "label": "Grid Text",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Multicolumn",
      "category": "Custom"
    }
  ]
}
{% endschema %}