<section class="custom-learn-section">
<h2>All Products </h2>
{% assign all_products_collection_handle = 'all' %}
{% assign all_products_collection = collections[all_products_collection_handle] %}

<ul>
  {% if all_products_collection %}
    {% for product in all_products_collection.products %}
      <li>{{ forloop.index | append: ')' }} {{ product.title }}</li>
    {% endfor %}
    <p>Total Products: {{ all_products_collection.products_count }}</p>
  {% else %}
    <li>No products found in the "All Products" collection.</li>
  {% endif %}
</ul>
<h2>All Products In reverse order </h2>
<ul>
    {% if all_products_collection %}
      {% assign total_products = all_products_collection.products_count %}
      {% for product in all_products_collection.products %}
        {% assign index = total_products | minus: forloop.index | plus: 1 %}
        <li>{{ index | append: ')' }} {{ product.title }}</li>
      {% endfor %}
    {% else %}
      <li>No products found in the "All Products" collection.</li>
    {% endif %}
  </ul>
  <h2>All Products In reverse order with description </h2>
  <ul>
    {% if all_products_collection %}
      {% assign total_products = all_products_collection.products_count %}
      {% for product in all_products_collection.products %}
        {% assign index = total_products | minus: forloop.index | plus: 1 %}
        <li>{{ index | append: ')' }} {{ product.title }} <br> <p>{%if product.description%}{{ product.description }} {% else %} No Description Available {% endif %}</p></li>
      {% endfor %}
    {% else %}
      <li>No products found in the "All Products" collection.</li>
    {% endif %}
  </ul>
  {% capture plain_text %} 
    one
    two
    three
    four
    five
  {% endcapture %}
  <p>{{ plain_text | newline_to_br }}</p>

  {% assign string = "Makro rocks!" %}
<p>{{ string | slice: 0, 7 }}</p> 
<p>{{ string | slice: -6, 6 }}</p>

{% assign number = 5 %}
<p>{{ number | at_least: 10 }}</p> 
<p>{{ number | at_most: 3 }}</p> 

{% assign tags = "red,blue,red,green,blue" | split: ',' %}
<p>{{ tags | uniq | join: ', ' }}</p>

{% capture text_remove %}
red,green,blue,yellow,violet,red,yellow
{% endcapture %}

<p>{{ text_remove | remove: "red"}}</p>
<p>{{ text_remove | remove_first: "red,yellow"}}</p>
<p>{{' too many spaces gergegegg  gggegegegege               gerggg'| strip }}</p>
<p>{{ "Ground control to Major Tom." | split: "" | reverse | join: ""}}</p>
{% assign my_secret_string = "ShopifyIsAwesome!" | sha1 %} My encoded string is: {{ my_secret_string }}
{% assign description = "Shop the best organic skincare products here." %}
{% assign keyword = "organic" %}
{{ description | highlight: keyword }}
<p>{{ 'Shopify' | link_to: 'https://www.shopify.com' }}</p>
<p>{{ 'collection-1' | placeholder_svg_tag }}</p>
{% assign fruits = "apples, oranges" | split: ", " %}
{% assign vegetables = "broccoli, carrots" | split: ", " %}
{% assign plants = fruits | concat: vegetables %}
<p>{{ plants | join: ", " }}</p>

{% assign tagsword = "sale,mens,womens,awesome" | split: "," %}
<p>{{ tagsword[2] }}</p>
<p>{{ 2 | at_least: 5 }}</p>
<p>{{ 4.6 | floor }}</p>
<p>{{ 4.3 | floor }}</p>
<p>{{ 12 | modulo:3 }}</p>

  </section>

{% schema %}

{
"name":"Custom Learning Scetion",
"class":"custom-learn-section",
"settings":[],
"presets":[
    {
    "name":"Custom Learning Scetion"
    }
]
}
{% endschema %}