

  <script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<style>

.main-product-template .row{ display:flex; }
.main-product-template .product-content{ max-width:600px; }
</style>

<div class="main-product-template">
<h2> Hello this is main product </h2>
<p>test</p>
{% assign current_product = product.selected_or_first_available_variant %}
{% assign product_image = current_product.featured_image %}
<div class="container">
<div class="row">
<div class="col-md-6">

{% assign current_product = product.selected_or_first_available_variant %}
{% assign product_image = current_product.featured_image | default: product.featured_image  %}

<!-- Debug: Output the current variant's image -->
<p>Variant Image: {{ current_product.featured_image | img_url: 'large' }}</p>
 <p>Product image:</p>
<!-- Check if variant image is available -->
{% if product_image %}

  <img class="product-image" src="{{ product_image | img_url: 'large' }}" alt="{{ product_image.alt | escape }}" id="main-product-image">

{% else %}
  {% if product.featured_image %}
    <img class="product-image" src="{{ product.featured_image | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" id="main-product-image">

  {% else %}
    <p>No image available</p>
  {% endif %}
{% endif %}
<div class="product-varient">
  <p>variant  image:</p>
  {% for image in product.images %}
  <img src="{{ image.src | img_url: 'medium' }}">
  {% endfor %}
 </div>
</div>
<div class="col-md-6 product-content ">
<h1> {{ product.title }}</h1>
<h6>{{ current_product.price | money_with_currency }}</h6>
<p> {{ product.description }} </p>
{% form 'product' , product , class: 'product-form' , id: 'AddToCartForm' %}
<div class="product-option">
<select name="id" class="form-select" id="productSelect">
{% for variant in product.variants %}
{% if variant.available %}
<option value="{{ variant.id }}">{{ variant.title }}</option>
{% else %}
<option value="{{ variant.id }}" disabled="disabled" > {{ variant.id }}</option>
{% endif %}
{% endfor %}
</select>
</div>

{% endform %}
</div>
</div>
</div>
</div>
