

  <script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>


<div class="main-product-template">
<h2> Hello this is main product </h2>
<p>test</p>
{% assign current_product = product.selected_or_first_available_variant %}
{% assign product_image = current_product.featured_image %}
<div class="container">
<div class="row">
<div class="col-md-6">

{% assign current_product = product.selected_or_first_available_variant %}
{% assign product_image = current_product.featured_image %}

<!-- Debug: Output the current variant's image -->
<p>Variant Image: {{ current_product.featured_image | img_url: 'large' }}</p>

<!-- Check if variant image is available -->
{% if product_image %}
  <img class="product-image" src="{{ product_image | img_url: 'large' }}" alt="{{ product_image.alt | escape }}" id="main-product-image">
{% else %}
  <!-- Debug: Variant doesn't have image, fallback to main product image -->
  <p>Variant doesn't have an image, falling back to product image.</p>

  {% if product.featured_image %}
    <img class="product-image" src="{{ product.featured_image | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" id="main-product-image">
  {% else %}
    <p>No image available</p>
  {% endif %}
{% endif %}

</div>
<div class="col-md-6">



</div>
</div>
</div>
</div>
